<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Sign up</title>
</head>
<body>
sign up
<p/>
<form action="/member/signup/new" method="post" enctype='application/json'>
  <p><label>email</label> <input type="email" name="email"/></p>
  <p><label>password</label> <input type="password" name="password"/></p>
  <br/>
  <button type="submit">submit</button>
</form>
</body>
</html>