{{# partial "title"}}
    Summoner Profile
{{/partial}}

{{# partial "content" }}
    <div id="leaguePositions"></div>
{{/partial}}

{{# partial "page_script"}}
    <script type="text/javascript" src="/js/summoner/profile/SummonerProfile.js"></script>
{{/partial}}

{{> asset/layout/layout}}