{{# partial "title"}}
    Index
{{/partial}}

{{# partial "breadcrumbs"}}
    <p id="greeting"></p>
{{/partial}}

{{#partial "page_style"}}
    <link rel="stylesheet" type="text/css" href="css/react/example/searchApp.css">
{{/partial}}

{{# partial "content" }}
    <div id="content"></div>
    <div id="reactExample"></div>
{{/partial}}

{{# partial "page_script"}}
    <script type="text/javascript" src="js/index.js"></script>
    <script type="text/javascript" src="js/react/example/SearchApp.js"></script>
    <script type="text/javascript" src="js/webpack/example/webpack-example.js"></script>
{{/partial}}

{{> asset/layout/layout}}