<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Greeting</title>
</head>
<body>
    <ul>
        <li><a href="/staticDataV3/champions">챔피언 정보 모두 보기</a></li>
        <li><a href="/staticDataV3/items">아이템 정보 모두 보기</a></li>
    </ul>
    <p id="greeting"></p>
    <script type="text/javascript" src="index.js"></script>
</body>
</html>