{{# partial "title"}}
    Index
{{/partial}}

{{# partial "breadcrumbs"}}
    <p id="greeting"></p>
{{/partial}}

{{#partial "page_style"}}

{{/partial}}

{{# partial "content" }}
    <div id="content"></div>
{{/partial}}

{{# partial "page_script"}}
    <script type="text/javascript" src="js/index.js"></script>
    <script type="text/javascript" src="js/webpack/example/webpack-example.js"></script>
{{/partial}}

{{> asset/layout/layout}}