<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Sign in</title>
</head>
<body>
Sign in
<form action="/member/signin" method="post">
  <p><label>email</label> <input type="email" name="email"/></p>
  <p><label>password</label> <input type="password" name="password"/></p>
  <br/>
  <button type="submit">submit</button>
</form>
<button>ID/Password찾기</button>
<button>회원 가입</button>
</body>
</html>