
<div id="navbar" class="navbar navbar-default">
    <div id="navbar-container" class="navbar-container">
        <div class="navbar-header pull-left">
            <a class="navbar-brand" href="#">
                <small>
                    <i class="fa fa-leaf"></i> LockNLol
                </small>
            </a>
        </div>
        <div class="navbar-header pull-right center" role="navigation">
            <ul class="nav navbar-nav navbar-right">
                <li style="padding-left: 10px;">
                    <a>안녕하세요.&nbsp;&nbsp;&nbsp;<strong>{{user.userName}}</strong>&nbsp;님</a>
                </li>
              <li>
                <a>
                  <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">로그인</button>
                </a>
              </li>
            </ul>
        </div>
    </div>
  {{> member/modal/login}}
</div>