<div id="sidebar" class="sidebar responsive">
    <ul class="nav nav-list" id="topMenu">
        <li>
            <a class="dropdown-toggle menu-text" href="#">
                <i class="menu-icon fa fa-list-alt"></i>
                <span class="menu-text">&nbsp;&nbsp;카테고리 관리</span>
            </a>
            <ul class="submenu">
                <li class="hover">
                    <a class="dropdown-toggle" href="">
                        <i class="menu-icon fa fa-caret-right"></i>
                        <span class="menu-text">&nbsp;&nbsp;관리카테고리</span>
                    </a>
                    <ul class="submenu">
                        <li>
                            <a href="/category-manage/category?divisionType=GOODS">
                                쇼핑
                            </a>
                        </li>
                        <li>
                            <a href="/category-manage/category?divisionType=GOODS">
                                쇼핑
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
        <li id="/attribute-types" data-link="/attribute-types" class="hsub">
            <a class="dropdown-toggle menu-text" href="">
                <i class="menu-icon fa fa-tag"></i>
                <span class="menu-text">&nbsp;&nbsp;속성관리</span>

            </a>
            <ul class="submenu">
                <li>
                    <a href="/attribute-types?divisionType=GOODS">
                        쇼핑
                    </a>
                </li>
                <li>
                    <a href="/attribute-types?divisionType=GOODS">
                        쇼핑
                    </a>
                </li>
            </ul>
        </li>
    </ul>
    <div id="sidebar-collapse" class="sidebar-toggle sidebar-collapse">
        <i class="ace-icon icon- fa fa-angle-double-left " data-icon1="ace-icon fa fa-angle-double-left" data-icon2="ace-icon fa fa-angle-double-right"></i>
    </div>
</div>
